.main-menu{
    background-color:#071409;
}
.logo-box, .list-box, .icons-box{
    display:flex;
    justify-content: center;
    align-items: center;
}
.list-box .nav-link{
    color:white;
}
.list-box li{
    padding:10px;
}
