.main-menu{
    /* z-index: 1; */
    /* position: fixed; */
    top: 0;
    background-color: #fff;
    /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); */
}
.nav-item .nav-link:hover{
    color: var(--main);
}
.nav-item .active{
    color: var(--main) !important;
}
.logo-box,
.list-box,
.icons-box{
    display:flex;
    justify-content: center;
    align-items: center;
}
.list-box .nav-link{
    font-weight: 700;
    font-size: 16px;
}
.logo-box img{
    scale: 0.8;
}
.list-box li{
    padding:10px;
}
.about{
   margin:100px 50px 100px 50px; 
   padding:10px;
}
.about img{
    width:300px;
    object-fit: cover;
    box-shadow:black;
}
.about h3{
    color:var(--main)
}
.about-img{
    position: absolute;
    top:150px;
    right:150px;
}
.about-box{
    margin:100px 30px;
    padding:20px;
}
.about-value{
    margin:80px 10px;
}
.about-value .main-heading{
    color:var(--main);
}
.about-value button{
    color:var(--lit);
}
.about-value .sub-heading:not(.collapsed){
    color:var(--main) !important;
    
}
.about-value .sub-heading:not(.collapsed):focus{
    outline: 0 !important;
    border: 0 !important;
}
