.visa-banner{
    height: 500px;
    background-image: url(/asset/images/travel_bg.webp);
    background-size: cover;
    background-position: 0 -200px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tab-menu-sec{
    background-color: #eff3f6 !important;
    width: 100%;
}
.tab-menu .row{
    height: 50px;
}
.tab-box{
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.tab-name{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.tab-menu .row .active{
    background-color: #009ee0 !important;
    color: #fff;
}
.service-box .row{
    justify-content: center;
    align-items: center;
}
#sv-box,
#tv-box,
#wpv-box {
    display: none;
}
.dis-box{
    display: block !important;
}
.dis-none{
    display: none !important;
}